<html ng-app="listaTelefonica">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fomulário de Cadastro - Teste Front-end Amil</title>
    <link rel="stylesheet" href="css/style.css">

</head>

<body ng-controller="listaTelefonicaCtrl">
    <div class="wrapper">
        <h1>{{app}}</h1>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos">
                    <td><input type="checkbox" ng-model="contato.selecionado"></td>
                    <td>{{contato.nome}}</td>
                    <td>{{contato.telefone}}</td>
                    <td>{{contato.email}}</td>
                </tr>
            </tbody>
        </table>

        <form name="contatoForm">
            <input type="text" ng-model="contato.nome" placeholder="Nome" name="nome" ng-required="true" ng-pattern="/[a-z]/i" ng-minlength="10" /><br>
            <input type="text" ng-model="contato.telefone" class="phone" placeholder="Telefone" name="telefone" ng-required="true" ng-pattern="^(?:(?([0-9]{2}))?[-. ]?)?([0-9]{4})[-. ]?([0-9]{4})$" /><br>
            <input type="text" ng-model="contato.email" placeholder="Email" name="email" ng-required="true" ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i"
            /><br>
        </form>

        <!--mensagems validação-->
        <div ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty" class="alert alert-danger">
            por favor preencha o campo Nome!
        </div>
        <div ng-show="contatoForm.nome.$error.pattern && contatoForm.nome.$dirty" class="alert alert-danger">
            Este campo não aceita números ou caracteres especiais
        </div>
        <div ng-show="contatoForm.telefone.$error.require && contatoForm.telefone.$dirty" class="alert alert-danger">
            por favor preencha o Telefone!
        </div>
        <div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
            formato de telefone (xx) xxxx-xxxx
        </div>
        <div ng-show="contatoForm.email.$error.require && contatoForm.email.$dirty" class="alert alert-danger">
            por favor preencha o E-mail!
        </div>
        <div ng-show="contatoForm.email.$pattern && contatoForm.email.$dirty" class="alert alert-danger">
            Este não é um formato válido
        </div>
        <button class="btn btn-primary" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Salvar</button>
        <button class="btn btn-danger" ng-click="apagarContatos(contatos)">Cancelar</button>

    </div>

    <footer>
        <span>Criado por Danilo Agostiho - Desafio Front-end Developer Amil.</span>
    </footer>

    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="http://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>
    <script src="js/mask.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
