//container principal

.wrapper {
    display: block;
    margin: 0 auto;
    max-width: 960px;
    padding-bottom: 80px;
}
//Breadcrumb

.links {
    width: 51%;
    height: auto;
    float: left;
    display: block;
    padding: 5px 0;
    font-size: 16px;
    font-weight: 400;
    color: $textos;
    margin: 0 -15px;
}
//container de slider e imagem paisaisagem

.multmidia {
    height: auto;
    padding: 40px 0;
}
//slideShow Jquery.Cycle2

.slider {
    width: 700px;
    height: 245px;
    background: red;
}
//Sidebar direita

.sidebar {
    border: 1px solid $bordas-footer;
    padding: 10px 20px 10px 21px;
    width: 220px;
    min-height: 580px;

    h3 {
        color: orange;
        font-weight: bold;
        font-size: 14px;
        line-height: 3;
        border-bottom: 1px solid #ccc;
    }

    a {
        text-decoration: none;
    }

    .title-nav {
        color: $azul-padrao;
    }
}
//nav sidebar================================================================
ul {
    list-style: none;
}

ul#menu {
    width: 170px;
    margin-top: 20px;
}

ul#menu li {
    line-height: 19px;
}

ul#menu li.header {
    font-weight: bold;
    padding: 0 3px;
    font-size: 12px;
}

ul#menu li a {
    color: blue;
    text-decoration: none;
    display: block;
    padding: 10px 3px;
    margin-left: 10px;
    outline: none;
    font-weight: 900;
    font-size: 14px;
}

ul#menu li a:before {
    content: "> ";
    position: absolute;
    text-indent: -12px;
    color: orange;
}

ul#menu li ul.sub-menu {
    display: none;
}

ul#menu li ul.sub-menu li a {
    font-size: 14px;
    font-weight: 400;
    color: $textos;
    padding: 1px 3px;
}

ul#menu li ul.sub-menu li a:before {
    content: "";
}

.title-nav:before {
    content: ">";
    font-size: 16px;
    font-weight: bold;
    color: orange;
    float: left;
    margin-right: 10px;
    padding: 10px 0;
}
//end nav sidebar================================================================

.cats {
    float: right;

    h3 {
        font-weight: 300;
        font-size: 20px;
        color: $rosa-padrao;
        padding-bottom: 20px;
        color: #ec007a;
        border-bottom: 1px solid #eee;
    }

    img {
        margin-top: 20px;
        border-radius: 10px;
    }
}

.banner-paes {
    float: left;
    padding: 40px 0;
}

.banner-paes:before {
    content: "Etiam sagittis nisi risus, vitae finibus ligula aliquam sit amet.";
    position: absolute;
    width: 700px;
    background: rgba(0,0,0,0.7);
    margin-left: 10px;
    margin-top: 162px;
    padding: 11px 0;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
//container intro
.container-intro {
    height: auto;

    h3 {
        font-size: 20px;
        font-weight: 300;
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
        color: $rosa-padrao;
    }

    p {
        line-height: 1.5;
        font-weight: 400;
        font-size: 16px;
        color: $textos;
        padding-top: 20px;
    }
}

.caixa {
    height: 160px;
    background: #fff;
    border: 1px solid $orange-padrao;
    text-align: center;
    padding: 16px 0;

    p {
        font-size: 14px;
        font-weight: 300;
        width: 160px;
        display: block;
        margin: 0 auto;
    }
}

.caixas img {
    width: 50px;
    display: block;
    margin: 0 auto;
    padding-bottom: 15px;
}

aside.sidebar h4 {
    font-weight: bold;
    padding: 20px 0 5px;
}
