.wrapper {
    display: block;
    margin: 0 auto;
    max-width: 960px;
    padding-bottom: 80px;
}

.links {
    width: 51%;
    height: auto;
    float: left;
    display: block;
    padding: 5px 0px;
    font-size: 12px;
    color: $textos;
}


.multmidia {
    height: auto;
    padding: 40px 0px;
}

.sidebar {
    background: #fff;
    border: 1px solid $bordas-footer;
    padding: 10px 20px 10px 21px;
    min-height: 600px;

    h3 {
        color: orange;
        font-weight: bold;
        font-size: 14px;
        line-height: 3;
        border-bottom: 1px solid #ccc;
    }

    a {
       text-decoration: none;
   }

   .title-nav {
     color: $azul-padrao;
     font-weight: bold;
     padding: 10px 0px;
   }

}

//sidebar
ul.principal {
  background: red;
  position: relative;
  width: 200px;
}

ul.principal li {
  list-style: none;
  padding: 10px 0px;
  margin: 0px 10px;
  text-indent: 10px;

}

ul.principal a {
  color: #fff;
  text-decoration: none;
  list-style: none;
  font-family: "Arial";
  font-size: 14px;
  font-weight: bold;
}

.seta:before {
  content: "> ";
  color: orange;
  font-weight: bold;
  z-index: 99999;
}

/*sub menu*/
ul.sub-menu  {

}

ul.sub-menu li {
  display: none;
}

ul.sub-menu li {
  display: none;
}

/*deu certo*/
li:hover .sub-menu li {
  display: block;
}

.title-nav:before {
 content: ">";
 font-size: 16px;
 font-weight: bold;
 color: orange;
 float: left;
 margin-right: 10px;
 padding: 10px 0px;
}



.cats  {
  float: right;

  h3 {
     color: $rosa-padrao;
     padding-bottom: 25px;
     color: #ec007a;
     border-bottom: 1px solid #eee;
 }

 img {
     margin-top: 20px;
     border-radius: 10px;

 }
}

.banner-paes {
  float: left;
  padding: 40px 0px;
}

.banner-paes:before {
    content: "Etiam sagittis nisi risus, vitae finibus ligula aliquam sit amet.";
    position: absolute;
    width: 700px;
    background: rgba(0,0,0,0.7);
    right: 143px;
    margin-top: 163px;
    padding: 11px 0px;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

//container intro
.container-intro {
    height: auto;

    h3 {
       font-size: 20px;
       font-weight: 100;
       border-bottom: 1px solid #eee;
       padding-bottom: 20px;
       color: $rosa-padrao;
   }

   p {
       line-height: 1.4;
       color: $textos;
       padding-top: 20px;
       font-size: 14px;
   }


}


.caixa {
    height: 150px;
    background: #fff;
    border: 1px solid $orange-padrao;
    text-align: center;
    font-size: 14px;
    padding: 16px 0px;

    p {
        max-width: 191px;
        display: block;
        margin: 16px auto;
    }
}

.caixas img {
    width: 50px;
    display: block;
    margin: 5px auto;
}

aside.sidebar h4 {
    font-weight: bold;
    padding: 20px 0px 5px;
}
