footer {
    width: 100%;
    height: auto;
    padding: 40px 0;
    background: $header;

    h4 {
        font-size: 20px;
        font-weight: 400;
        color: #898989;
    }

    h5 {
        font-weight: 700;
        font-size: 16px;
        padding: 20px 0;
    }

    a {
        text-decoration: none;
        line-height: 2.3;
        font-size: 13px;
        font-weight: 400;
    }

    a:link, a:visited, a:active {
      color: $textos;
    }
}

.logo {
    padding-bottom: 30px;
}
//footer
.logo h4 {
    padding-bottom: 30px;
}

.sub-footer {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    padding: 17px 21px 16px;

    a {
        text-decoration: underline;
        color: #333;
        font-weight: 700;
        font-size: 13px;
    }

    a:before {
        content: " >";
        position: absolute;
        margin-left: 68px;
    }
}

.nav-esquerda {
    width: 200px;
    margin-left: 20px;
}

ul.nav-footer-left {
    display: inline-flex;
    float: left;
    position: relative;
    top: 20px;


    a {
        text-decoration: none;
        float: left;
        color: $textos;
        padding: 0 15px;
        font-weight: 600;
        font-size: 13px;
    }

    li {
        border-right: 1px solid #ccc;
    }

    li:last-child {
        border-right: 0;
    }
}

.nav-esquerda2 {
    margin-top: 24px;

}

nav.nav-esquerda2 h5 {
    padding-bottom: 60px;
}

ul.nav-footer-right {
    display: inline-flex;
    float: right;
    position: relative;
    top: 20px;

    a {
        text-decoration: none;
        float: left;
        color: $textos;
        padding: 0 15px;
        font-weight: 600;
        font-size: 13px;
    }

    li {
        border-right: 1px solid #ccc;
    }

    li:last-child {
        border-right: 0;
    }
}

.copy {
    width: 100%;
    padding: 30px 0 60px;
    background: $bordas-footer;

    span {
        display: block;
        margin: 0 auto;
        max-width: 590px;
        text-align: center;
        font-size: 13px;
        line-height: 1.4;
        color: $textos;
    }
}
