* {
    @include clearFix();
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    //color: $textos;
    //background-color: $rosa-padrao;
    font-family: 'Open Sans', sans-serif;
}

.top-block {
    border-top: 4px solid $orange-padrao;
    width: 100%;
    background: #eee;
    position: absolute;
    z-index: -99999;
    border-bottom: 1px solid #c8c7c7;
    padding: 23px 0;
}

header {
    background: transparent;
    height: auto;

    img {
        max-width: 100%;
        width: 130px;
        height: 100px;
        background: #fff;
        -webkit-box-shadow: 0 0 10px 0 #000000;
        box-shadow: 0 0 10px 0 rgb(174, 165, 165);
        opacity: 15;
    }
}


button.btn {
    display: block;
    background: $orange-padrao;
    border: 0;
    width: 150px;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    height: 25px;
    margin: 14px 0;
    border-radius: 5px;
}

ul.nav {
    margin: 8px 0;

    li {
        display: inline;
        text-decoration: none;
        float: left;
        border-right: 1px solid #ddd;
        display: block;
    }

    a {
        text-decoration: none;
        font-weight: 900;
        margin: 10px 7px 9px;
        display: block;
        font-size: 14px;
        color: $textos;
        margin: 10px 11px 11px;
    }
}

ol.breadcrumb {
    display: inline-flex;
}

li.breadcrumb-item {
    margin: 0 1px;
}

.nav-bar img {
    float: right;
    border: 3px solid $rosa-padrao;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    height: 250px;
}
