* {
    @include clearFix();
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.top-block {
    width: 100%;
    background: #eee;
    position: absolute;
    z-index: -99999;
    border-bottom: 1px solid #c8c7c7;
    padding: 23px 0;
}

header {
    background: transparent;
    height: auto;

    img {
        background: #fff;
        -webkit-box-shadow: 0 0 10px 0 #000000;
        box-shadow: 0 0 10px 0 rgb(174, 165, 165);
        opacity: 15;
        width: 112px;
        height: 88px
    }
}



ul.nav {
    margin: 8px 0;
    margin: 8px -25px;
    float: left;

    li {
        display: inline;
        text-decoration: none;
        float: left;
        border-right: 1px solid #ddd;
        display: block;
    }

    a {
        text-decoration: none;
        font-weight: 900;
        margin: 10px 7px 9px;
        display: block;
        font-weight: 700;
        color: $textos;
        margin: 6px 11px 11px;
        font-size: 14px;
    }
}

.btn {
    background: $orange-padrao;
    display: block;
    border: 0;
    width: 142px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    height: 25px;
    margin: 9px 0;
    border-radius: 5px;
    line-height: 1.5;
    text-indent: 15px;
    padding-left: 12px;
    cursor: pointer;
}

.btn:before {content: ">";position: absolute; font-size: 18px;top: 7px;font-weight: 900; margin-left: 82px;}


ol.breadcrumb {
    display: inline-flex;
}

li.breadcrumb-item {
    margin: 0 1px;
    font-size: 12px;
    font-weight: 400;
}

.nav-bar img {
    float: right;
    border: 3px solid $rosa-padrao;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    height: 250px;
}
