/*  Opacity
    ========================================================================== */
@mixin opacity( $value ) {
  $ie: $value * 100;
  filter: alpha(opacity=$ie);
  opacity: $value;
}


/*  Clearfix
    ========================================================================== */
@mixin clearFix {
  *zoom: 1;
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/*  Border radius
    ========================================================================== */
@mixin border-radius( $value ) {
    border-radius: $value;
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    -ms-border-radius: $value;
    -o-border-radius: $value;
}
