body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 500;
    font-size: 30px;
}

h2 {
    font-weight: 300;
    font-size: 18px;
}

.wrapper, .tabela {
    padding-top: 40px;
    color: #fff;
    border-radius: 5px;
    width: 550px;
    padding: 50px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.wrapper h1 {
    color: #333;
    font-weight: 400;
    font-size: 30px;
}

input[type=text], input[type=email], input[type=tel] {
    border: 0px;
    padding-left: 20px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 10px;
    width: 90%;
    height: 60px;
}


}
button.btn.btn-primary {
    background: blue;
    border: 0px;
    padding: 10px;
    color: #fff;
    width: 20%;
    height: 40px;
    float: right;
}
button.btn.btn-primary {
    background: #0078e7;
    border: 0px;
    width: 20%;
    height: 40PX;
    color: #FFF;
    margin-left: 270px;
    padding: 10px;
}
button.btn.btn-danger {
    background: rgb(202, 60, 60);
    border: 0px;
    padding: 10px;
    width: 20%;
    height: 40px;
    float: right;
    margin-right: 27px;
    color: #fff;
}
label {
    position: absolute;
    line-height: 3;
    text-indent: 10px;
    font-size: 15px;
}
.success {
    color: green;
}
form {
    margin-top: 10px;
}
table {
    padding: 10px;
    width: 86%;
    text-align: center;
    display: -webkit-inline-box;
    display: inline-box;
    border-bottom: 1px solid #ccc;
    background: #9C27B0;
    padding: 10px;
    width: 86%;
    color: #fff;
}
th, td {
    text-align: center;
}
.alert {
    color: red;
    position: absolute;
    bottom: 93px;
    right: 530px;
}
footer {
    text-align: center;
    margin-top: 20px;
}
